
# Created by https://www.gitignore.io/api/flask,python,pycharm
# Edit at https://www.gitignore.io/?templates=flask,python,pycharm

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
#*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
dist-mac/
dist-linux/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

### PyCharm ###
.idea/

# More things
.DS_Store
.dataqa_data/
data/
api/templates
bundle.js
bundle.js.map
bundle.js.LICENSE.txt
*.tar.gz
elasticsearch-7.9.2/
node_modules/

scrap.py
original_images

