{
    "presets": [
        [
            "env", 
            {
                "targets": {
                    "node": "10"
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "emotion",
        "recharts",
        "transform-object-rest-spread",
        "lodash"
    ]
}